<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('me') }}">Me</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
                <li><a href="{{ path('api_landing') }}">API</a></li>
                <li><a href="{{ path('card_game') }}">Card Game</a></li>
                <li><a href="{{ path('landing_page') }}">Session</a></li>
            </ul>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        
        <footer>
            <hr/>
            <p>&copy; 2024 Vuk Dajic. All rights reserved.</p>
        </footer>
        
    </body>
</html>
